/* styles/globals.css */

/* 1. Estas são as 3 linhas essenciais para o Tailwind funcionar */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Aqui podemos adicionar nossos estilos globais personalizados, como os do carrossel */
.embla {
  overflow: hidden;
  padding: 1rem 0;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 30%; /* Cada slide ocupa 30% da largura, mostrando um pouco mais de 3 por vez */
  min-width: 0;
  padding-left: 1rem;
}