/* styles/globals.css */

/* 1. Estas são as 3 linhas essenciais para o Tailwind funcionar */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Aqui podemos adicionar nossos estilos globais personalizados, como os do carrossel */
.embla {
  overflow: hidden;
  padding: 1rem 0;
}
.embla__container {
  display: flex;
}
.embla__slide {
  /* Padrão (Mobile): ocupa 100% da tela */
  flex: 0 0 100%; 
  min-width: 0;
  padding-left: 1rem;
}

/* Telas médias (md) ou maiores: mostra 3 slides */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33.33%; /* 100% / 3 = 33.33% */
  }
}